
html, body{

    height: 100%;
    background-color: #212529;
    color: #dee2e6;
    background-image: radial-gradient(circle, rgb(102, 110, 114), #343a40, #343a40);
}

#container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navBar navBar navBar navBar navBar navBar navBar navBar"
      "left left centre centre centre centre right right"
      "left left centre centre centre centre right right"
      "left left centre centre centre centre right right"
      "left left centre centre centre centre right right"
      "left left centre centre centre centre right right"
      "footer footer footer footer footer footer footer footer";

  }
  
.navBar { grid-area: navBar; width: 100%; }

.footer { grid-area: footer; }

.left { grid-area: left; }

.right { grid-area: right;  }

.centre { grid-area: centre; }

.nav-item {

  color: aliceblue;

}

#navNew {

  box-shadow: 1px 1px 10px 1px;
  border-radius: 0px 0px 10px 10px;
  


}

#footer {
  
  background-color: #343a40!important;
  border-color: aliceblue;
  border-width: 2px 0px;
  border-style: solid none none none;
  box-shadow: 1px 1px 20px 0px;
  border-radius: 0px 0px 10px 10px;

  

}

#videoPlaying {

  height: 100%;
  width: 100%;


}

#movieSearch{

  background-color: aliceblue;
  border-color: #343a40;
  color: #343a40;
  border-color: #343a40;
  border-width: 2px 0px;
  border-style: solid solid solid solid;
  border-radius: 10px 10px 10px 10px;

}

#visitSite{

  background-color: aliceblue;
  border-color: #343a40;
  color: #343a40;
  border-color: #343a40;
  border-width: 2px 0px;
  border-style: solid solid solid solid;
  border-radius: 10px 10px 10px 10px;

}

#movieInput {

  background-color: aliceblue;
  border-color: #343a40;
  color: #343a40;
  border-color: #343a40;
  border-width: 2px 0px;
  border-style: solid solid solid solid;
  border-radius: 10px 10px 10px 10px;

}
  
